<app-header></app-header>
<div class="container">

  <form (ngSubmit)="logUser()">
    <input type="text" name="user" placeholder="Email Adress" [(ngModel)]="userName" />

    <input type="password" autocomplete="off" name="password" placeholder="Password" [(ngModel)]="userPassword" />

    <button>Sign In</button>
    <span *ngIf="userRegistred">The credentials you entered are incorrect.
      Reminder: passwords are case sensitive.</span>

    <div class="create-count">
      <a class="create" routerLink="/register" routerLinkActive="active">Create an Account</a>
    </div>

  </form>
</div>
