.welcome {
  height: 50vh;
  color: #edd700;
  padding: 0 10%;
  font-size: 18px;
  margin: 0 10%;
}

.descripcion{
  text-justify: auto;
  text-align: justify;
}

a{
  margin-left: 50%;
  text-decoration: none;
  cursor: pointer;
  color: #8c8d8d;
  font-size: small;
  font-weight: 550;
}
a:hover{
  color: #ffffff;
}

div{
  line-height: 1.4;
  margin-bottom: 15px;
}

h2 {
  text-align: center;
}

p a {
  font-size: 20px;
}
