<app-header></app-header>
<div class="welcome">
  <h2>¡Bienvenido!</h2>
  <div class="descripcion">
    Esta entrega está basada en una prueba técnica de una gran empresa del sector e-commerce, que busca desarrolladores frontend en Barcelona. Este proyecto es el típico de una prueba técnica: consumo de datos de API, mostrarlos por pantalla en un listado, e implementar el detalle de cada item del listado.
  </div>
  <p>
    ¡La web desarrollada es una web de información sobre las naves de Star Wars! se muestra el listado de naves, y al clicar en una se tiene los detalles de ésta.
  </p>
  <p>
    Usamos una API que nos permitirá obtener el listado de naves fácilmente.
  </p>
  <div class="descripcion">
    Pulsa el botón START para acceder a nuestra app.
  </div>
  <p><a routerLink="/starships" routerLinkActive="active">START</a></p>
</div>
